*{
  padding: 0;
  box-sizing: flex-box;
  margin: 0;
}
body{
  background: lightcyan;
  width: 100%;
  font-family: sans-serif;
}
.header{
  display: flex;
  background-color: cyan;
  text-align: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  top: 0;
  box-shadow: 0 0 5px darkcyan;
  
}
.sticky {
  top: 0;
  position:fixed ;
}
.header>h1{
  background-color: cyan;
  font-family: cursive;
  margin: 3px 3px;
  color: green;
}
.navbar{
   display: flex;
   align-items: center;
   margin: 3px 0;
   justify-content: space-between;
}
.navbar>a{
  font-size:.7em;
  font-weight: 500;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  margin-right: 7px;
}


.home{
  background-image: url(/background.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  font-style: italic;
  height: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
}
.home>div>p{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
#links{
  display: none;
  width: 55px;
  bottom: 100px;
  right: 22px;
  position:fixed;
}
#links>button{
  height: 50px;
  width: 50px;
  font-weight: 700;
  font-size: 2rem;
  box-shadow: 0 0 20px darkcyan;
  background-color: cyan;
  margin: 5px ;
  border:none ;
  border-radius: 50%;
}
#about{
  width: 90%;
  padding: 5%;
  margin-bottom: 20px;
}
.abt{
  text-align: start;
  margin-top: 20px;
  padding: 20px;
  background-color:lightgray;
}
.abt>p{
  font-size: 1.2em;
  margin-bottom: 4px;
  background-color: lightgrey;
}
h3{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}

#resume{
  width: 90%;
  padding-left: 5%;
}
.resume{
  border-radius: 5px;
  height: 200px;
  border:.5px solid lightgrey ;
  width: 90%;
  padding: 5%;
  margin-bottom: 30px;
}

h1{
  color: magenta;
  margin: 3%;
  padding: 0;
  text-align: center;
  font-weight: 500;
}
.education {
  color:red ;
}
span{
  height:.6em;
  padding-top: 2px;
  border-bottom: 1.5px solid orangered;
}
.service{
 width: 90%;
 padding:5%;
 height: 200px;
 margin-top: 30px;
 border:.5px solid lightgrey;
 border-radius: 3px;
}


#contact{
  padding: 5%;
  width: 90%;
  background-color: cyan;
  padding-top: 50px;
  margin-top: 30px;

}
form{
  border:.5px solid lightgrey;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  
  margin-bottom: 50px;
}
input, textarea{
  width: 90%;
  background-color: white;
  border: 0.2px solid lightgrey;
  margin: 5%;
 margin-top: 10px;
 
 border-radius: 3px;
}
textarea{
  height: 100px;
}
input{
  height: 50px;
  border: 0.2px solid lightgrey;
}
form>h1{
  width: 100%;
}
.btn{
  background-color: magenta;
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 50px;
}
.hr{
  width:100%;
  height:.5px ;
  background-color: lightgray;
  color: red ;
  margin-bottom: 30px;
}
.touch{
  width: 90%;
  padding:5%;
}

h3{
  font-size: 1.7em;
}
.contacts{
  margin-top: 30px;
}
footer{
  height: 45px;
  display: flex;
  align-items: center ;
  justify-content: center;
  background-color: darkcyan;
  box-shadow:0 0 20px lightgray ;
}
.contacts>label{
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px
}
.contacts>a, .contacts>p{
  margin-left: 20px;
  text-decoration: none;
  color: darkgray;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.languages{ 
  height: 30px;
  width: 94%;
  margin: 1.5%;
  display: flex;
  justify-content:center ;
  align-items: center;
} 
#language{
  margin-left: 1px;
  width: 57%;
  height: 15px;
  background-color: darkcyan;
  border-radius: 10px ;
  right: 10px;
}
.skills>div>h5{
  color: black ;
  padding:0;
  margin: 3px ;
  text-align: end;
  font-size: 1.2em;
  font-weight: 400;
  width: 34%;
}
#html{
  height: 100%;
  width: 95%;
  border-radius: 10px;
  background-color: blue;
}
#python{
  height: 100%;
  width: 60%;
  border-radius: 10px;
  background-color: blue;
}
#js{
  height: 100%;
  width: 75%;
  border-radius: 10px;
  background-color: blue;
}
#java{
  height: 100%;
  width: 55%;
  border-radius: 10px;
  background-color: blue;
}
#button{
  height: 50px;
  width: 50px ;
  bottom: 50px;
  right: 20px;
  border: none;
  font-size: 2rem;
  display:flex ;
  justify-content: center;
  align-items: center;
  background-color: cyan;
  box-shadow: 0 0 30px darkcyan;
  border-radius: 50%;
  position: fixed;
}
